In [1]:
import pandas as pd

In [ ]:
#pandas library here used for the purpose of read the table formated dataset or database and all functions under pandas saved in memory

In [ ]:
# pandas here referred as 'pd' short form for convenience purpose

In [2]:
dataset=pd.read_csv("Salary_Data.csv")

In [3]:
dataset

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [ ]:
# here independent variable and dependent variable splitted for further processing purpose

In [4]:
independent=dataset[["YearsExperience"]]

In [5]:
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [6]:
dependent=dataset[["Salary"]]

In [7]:
dependent

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56957
13   57081
14   61111
15   67938
16   66029
17   83088
18   81363
19   93940
20   91738
21   98273
22  101302
23  113812
24  109431
25  105582
26  116969
27  112635
28  122391
29  121872

In [ ]:
# here going to split train set and test set for model  creation purpose and sklearn library used for import particular function of splitting train and test set from database

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [ ]:
# here sklearn  library again used for import particular function or class related to simple linear regression predict

In [12]:
from sklearn.linear_model import LinearRegression

In [14]:
regressor=LinearRegression()

In [ ]:
# here 'fit' is a function for model creation

In [15]:
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# here model created and got weight and bais. then 'coef' is a method to calculate weight and 'intercept' is a method to calculate bais

In [16]:
weight=regressor.coef_

In [17]:
weight

array([[9360.26128619]])

In [18]:
bais=regressor.intercept_

In [19]:
bais

array([26777.3913412])

In [ ]:
# here created model evaluate by test set database using r2 evaluation metric parameter. then predict referred as 'pred' short form

In [20]:
y_pred=regressor.predict(x_test)

In [ ]:
# here sklearn library is used to import particular function of evaluation metric of r2 method

In [21]:
from sklearn.metrics import r2_score

In [ ]:
# here using r2 method comparing y test and y predict values to identify and evaluate the good or bad performance of the created model

In [22]:
r_score=r2_score(y_test,y_pred)

In [ ]:
# here r2 value is nearly 1 so created model has better performance

In [23]:
r_score

0.9740993407213511

In [ ]:
# here pickle library is used for saving our good model for further end users purpose

In [24]:
import pickle

In [ ]:
# here give a dummy file name for our created good performance model

In [25]:
filename="finalized_model_linear.sav"

In [ ]:
# here dump and save the created model file with dummy file name under pickle library file

In [26]:
pickle.dump(regressor,open(filename,'wb'))

In [ ]:
# here going to load or read the saved model from pickle library to predict any new independent variables and get respective predicted dependent variables

In [27]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))

In [28]:
result=loaded_model.predict([[15]])

In [29]:
result

array([[167181.3106341]])